<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>남은 시간</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            margin: 50px;
        }

        .time {
            font-size: 2em;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>남은 시간 조회</h1>
    <button id="fetchTimeButton">남은 시간 가져오기</button>
    <div class="time" id="time">버튼을 눌러 시간을 불러오세요.</div>
</div>
<script src="/static/js/RemainTimeAPI.js"></script>
</body>
</html>