<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>남은 시간</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        .time {
            font-size: 2em;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>남은 시간 조회</h1>
<button id="fetchTimeButton">남은 시간 가져오기</button>
<div class="time" id="time">
    <span id="hours">--</span> 시
    <span id="minutes">--</span> 분
    <span id="seconds">--</span> 초
</div>
<script src="/js/RemainTimeAPI.js"></script>
</body>
</html>